<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>NSG GeoPackage</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/gpkg12</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${project.version}</local-name>
        <title>NSG GeoPackage 1.1 Conformance Test Suite</title>
        <description>GeoPackage 1.1 data container in accordance with the [NSG GeoPackage Encoding Standard 1.1 Interoperability Standard version 2.1.</description>
        <BasicConformanceClasses>
          <conformanceClass>Core</conformanceClass>
          <conformanceClass>Tiles</conformanceClass>
          <conformanceClass>Features</conformanceClass>
          <conformanceClass>Attributes</conformanceClass>
          <conformanceClass>Extension Mechanism</conformanceClass>
          <conformanceClass>Non-Linear Geometry Types</conformanceClass>
          <conformanceClass>RTree Spatial Indexes</conformanceClass>
          <conformanceClass>Tiles Encoding WebP</conformanceClass>
          <conformanceClass>Metadata</conformanceClass>
          <conformanceClass>Schema</conformanceClass>
          <conformanceClass>WKT for Coordinate Reference Systems</conformanceClass>
          <conformanceClass>Tiled Gridded Elevation Data</conformanceClass>
          <conformanceClass>NSG</conformanceClass>
        </BasicConformanceClasses>
      </suite>
      <revision>
        <name>${project.version}</name>
        <status>Beta</status>
        <sources>
          <source>${ets-code}/${spec-version}/ctl</source>
        </sources>
        <webdir>${ets-code}/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
